<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Welcome</title>
</head>
<body>
    <div class="header">
        <h1>Welcome!{{user.first_name}}</h1>
        <a href="/books/add">Add Book and Review</a>
        <a href="/logout">logout</a>
    </div>
    <div class="col-sm-4">
        <h3>Recent Book Reviews</h3>
        {% for review in recentreview %}
        <a href="/books/{{review.book_id}}">{{review.title}}</a><br>
        Rating: {{review.rating}}<br>
        <a href="/users/{{review.user_id}}">{{review.user.first_name}}</a> says: {{review.review}}<br>
        Posted on: {{review.created_at}}<br><br>
        {% endfor %}



    </div>
    <div class="col-sm-4">
        <h3>Other Books with Reviews</h3>
        {% for book in booklist %}
        <a href="/books/{{book.id}}">{{book.title}}</a><br><br>
        {% endfor %}
    </div>
    

</body>
</html>